html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 0px;
  /* height: 100%; */
  min-height: 100%;
  font-size: 16px;
////  font-size: 0.625em;
//    font-size: 10px;
  width: 100%;
  max-width: 100%;
  font-weight: 400;
  background-color: #fafafa;
  color: rgba(0,0,0,0.8);
  letter-spacing: .2px;
}

p {
  //    overflow:hidden;
  word-wrap:break-word;
  word-break:normal;
//  font-size: 1.4em;
}

pre {
  border: none;
}

h1 {
//  font-size: 40px;
//  font-size: 4.8em;
  margin-top: 30px;
  margin-bottom: 20px;
}

h2 {
  font-weight: bold;
  font-size: 28px;
//  font-size: 3.6em;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #333;
  padding-bottom: 9px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
//  font-size: 2.4em;
  margin: 20px 0;
}

h4 {
//  font-size: 2.1em;
}

h5 {
//  font-size: 1.8em;
}

h6 {
//  font-size: 1.6em;
}
h4,  h5,  h6 {
  font-size: 18px;
  margin: 15px 0;
}

p, ul, pre {
  margin: 0 0 15px;
}
p, ul, pre, li {
  line-height: 1.7;
}

blockquote {
  font-family: 'Lora',Georgia,'KaiTi','Adobe Kaiti Std','STKaiti',serif;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
//  font-size: 1.4em;
  font-size: 14px;
  caption {
    text-align: center;
  }
  td, th {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }
  tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
  th {
    font-weight: bold;
//    text-align: center;
  }
}



.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}
