.note {
  background: #fff;

  h2 {
    border-bottom: 1px solid #eee;
  }

  .page-header {
  }

  .note-content-wrap {
    border-right: 1px solid #fefefe;
    //    padding: 0px 30px 20px 30px
  }
}

.note-header {
  background-color: #eee !important;
  padding: 20px 0 20px;
  margin-bottom: 10px;

  h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}
